.event-bg{
    background: linear-gradient(to right, #ffb132, #f7b739);

}
.event-txt{
    color: #fff;
    font-size: 45px;
}
@media screen and (max-width: 960px) {
    .event-txt{
        color: #fff;
        font-size: 35px;
    }
}

img:hover{
    filter: drop-shadow(2px 4px 8px #585858);
    cursor: pointer;
}